[Unit]
Description=Mount unit for core, revision 6350
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_6350.snap
Where=/snap/core/6350
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
